.cover-container {
  max-width: 60vw;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  border-bottom: 0.25rem solid rgba(255, 255, 255, 0.7);
}

.nav-link.active {
  color: #fff;
  border-bottom: 0.25rem solid #fff;
}

.btn-secondary,
.btn-secondary:hover {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  font-weight: 700;
  border: 0.25rem solid #fff;
}
