<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="'viewport" content="width=device-width, initial-scale=1" />
    <title>Spots</title>
  </head>
  <body>
    <h1>Welcome to the spots page!!</h1>
    <h2>Spots</h2>
    <ul>
      <% for (let spot of spots) {%>
      <li><%= spot.location %></li>
      <a href="/spots/<%= spot.id %>"> <%= spot.title %> </a>
      <% } %>
    </ul>
  </body>
</html>
